html,
body{
    width: 100%;
    height: 100%;
    /*background:radial-gardient(ellipse at center,#160909 0%,#160909 45%,#291111 100%); /* ne fonctionne pas */
    background:#641b0b; /* bg de remplacement */
    display: flex;
    justify-content: center; /* milieu horizontal */
    align-items: center;
    overflow: hidden;
}
.video{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    cursor:click;
    overflow: hidden;
    opacity: 0;
    width:250px; 
    height:150px;
    position: relative;
    top:-350px;
    left: -150px;
    
}

.video:hover{
    z-index: 3;
    opacity: 1;
}

/* *************************************** Fond d'écran automne *************************************************** */
body {
    margin:0;
    padding:0;
    overflow:hidden;
    /*background-color:black;*/
}

section{
    height:100%;
    width:100%;
    position:absolute ;  
    /*background:radial-gradient(#333,#000);*/
}

.leaf{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
    
.leaf div{
    position:absolute ;
    display:block ;
}

.leaf div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;
    
}

.leaf div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}

.leaf div:nth-child(3){
    left:10%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
    
}

.leaf div:nth-child(4){
    left:50%; 
    animation:fall 18s linear infinite ; 
    animation-delay:-5s;
}

.leaf div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}

.leaf div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}

.leaf div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
    
@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
        transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
}

.leaf1{
    transform: rotateX(180deg);
}

h2{
    position:absolute ;
    top:40%;
    width:100%;
        font-family: 'Courgette', cursive;
    font-size:4em;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);
}

figure {
    margin: 0;
}

/* ********************************** Début code éléments **************************************** */
h1{
    position: relative;
    /*color:#f68632;*/
    color: red;
    margin-top: -450px;
    font-size: 40px;
    top:100px;
    left: -140px;
    font-family: "Nosifer", cursive;
    /*border: 5px solid yellow;*/
}

.container{
    margin-top: 150px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*border: 5px solid green;*/
}

/* forme de la citrouille base */
.pumpkin{
    height: 11em;
    width: 15em;
    background: #f68632;
    border:0.4dem solid #a14907;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0px 20px #a14907, 0 0 30px -4px red;
    z-index: 1;
    top:-50px;
    left:50px;
    animation: float 3s infinite;
   /* border:5px solid red;*/
}

/*  les rayures du bas de la citrouille */
.pumpkin .texture{
    height: 10.8em;
    width: 6.5em;
    position: absolute;
    bottom: -0.4em;
    left:4em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #a14907;
}

/* les autres rayures de la citrouille */
.pumpkin .texture:after{
    content:"";
    display: block;
    height: 10.7em;
    width: 12em;
    position: absolute;
    bottom: -0.4em;
    left:-2.5em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #a14907;
    border-top:0.5em solid #a14907;
}
 /*tige verte */
.pumpkin .root{
    background: #517f54;
    height: 2.8em;
    width: 1.25em;
    position: absolute;
    left: calc(7.5em - 0.625em);
    top:-2.7em;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: 1;
    box-shadow: inset 0 0px 10px #29412b;
}

/* les yeux */
.pumpkin .eyes-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.8em solid transparent;
    top:2.8em;
    left:3.7em;
    transform: rotate(-30deg);
    border-bottom: 2.1em solid transparent;
    border-right:2.4em solid #401d03;
}

.pumpkin .eyes-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.8em solid transparent;
    top:2.8em;
    right: 3.7em;
    transform: rotate(30deg);
    border-bottom: 2.1em solid transparent;
    border-left:2.4em solid #401d03;
}

/*  la bouche */
.pumpkin .mouth-left {
    width: 4em;
    height: 2em;
    position:absolute;
    bottom: 1.5em;
    border-bottom: 1em solid #401d03;
    left:3.6em;
    border-radius: 0 0 0 100%;
}

.pumpkin .mouth-right {
    width: 4em;
    height: 2em;
    position:absolute;
    bottom: 1.5em;
    border-bottom: 1em solid #401d03;
    right: 3.6em;
    border-radius: 0 0 100% 0;
}
/* une dent au milieu */
.pumpkin .teeth{
    width: 0.5em;
    height: 1em;
    position: absolute;
    top:7.7em;
    left:7.25em;
    border-top: 0.8em solid transparent;
    border-bottom: 0em solid transparent;
    border-left: 0.8em solid #401d03;
}

.pumpkin .teeth:before, .pumpkin .teeth:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.8em solid transparent;
}

/* dent de gauche */
.pumpkin .teeth:before{
    right: 2.2em;
    top:-0.85em;
    transform: rotate(30deg);
    border-bottom: 0.5em solid transparent;
    border-left: 1em solid #401d03;
}

/* dent de droite*/
.pumpkin .teeth:after{
    left:1em;
    top:-0.85em;
    transform: rotate(30deg);
    border-bottom: 0.5em solid transparent;
    border-left: 1em solid #401d03;
}

/* Ombre au sol */
.shadow{
    position: relative;
    margin: 10% auto 0;
    background: #000;
    width: 230px;
    height: 50px;
    border-radius: 50%;
    top:200px;
    animation: zoom 3s infinite;
}

/* l'évitation */
@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
}

/*  zoom de l'ombre */
@keyframes zoom{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
}


/* ****************************************** Fantome ******************************************* */
/*body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #424f6f;
}

#container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f;
}*/

*:after,
*:before {
    box-sizing: inherit;
}

/* Position du fantome */
#spooky {
    position: relative;
    margin: 10% auto 0;
    width: 80%;
    height: 80%;
    top:100px;
    right: -300px;
    animation: floaty 2s infinite;
}

/* rend le rectangle arrondit => tombe */ 
#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
    content: "";
    position: absolute;
    top:130px;
    display:inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty .2s infinite;
}

/* les mains */
#spooky #body:before{
    left:-18px;
}

#spooky #body:after{
    right:-18px;
}

/* les yeux */
#spooky #body #eyes:before,
#spooky #body #eyes:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
}

/* positionnement des yeux */
#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

/* forme de la bouche */
#spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#spooky #body #mouth:before{
    content: "";
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

 /* les pieds*/

#spooky #body #feet{
    position: absolute;
    display: flex;
    bottom:-18px;
    width: 180px;
    height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after{
    content:"";
    width: 36px;
    height: 36px;
    background: #f2fbf1;
    border-radius: 50%;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   /* background: #424f6f;*/
}

#container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f;
}

*:after,
*:before {
    box-sizing: inherit;
}

#spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

/* rend le rectangle arrondit => tombe */ 
#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
    content: "";
    position: absolute;
    top:130px;
    display:inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty .2s infinite;
}

/* les mains */
#spooky #body:before{
    left:-18px;
}

#spooky #body:after{
    right:-18px;
}

/* les yeux */
#spooky #body #eyes:before,
#spooky #body #eyes:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}

/* positionnement des yeux */
#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

/* forme de la bouche */
#spooky #body #mouth {
    background: black;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#spooky #body #mouth:before{
    content: "";
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

 /* les pieds*/

#spooky #body #feet{
    position: absolute;
    display: flex;
    bottom:-18px;
    width: 180px;
    height: 36px;
}

 #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after{
    content:"";
    width: 36px;
    height: 36px;
    background: #f2fbf1;
    border-radius: 50%;
}

/* l'ombre au sol */
#spooky .shadow{
    position: relative;
    margin: -90px auto 0;
    background: black;
    width: 220px;
    height: 50px;
    top:150px;
    border-radius: 50%;
    z-index: -1;
    animation: zoomy 2s infinite;
}

/* animation du fantome */
@keyframes floaty{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

@keyframes zoomy{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
}

/* animation du fantome */
@keyframes floaty{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

@keyframes zoomy{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
}

/* ************************************************** Araignées **************************************** */

/*html{
    background: #ff785a;
}*/

/* remonte le fil de l'araigniée pour la faire disparaitre*/
html:hover .spider{
    top:-120%;
}

/* remonte le fil de l'araigniée */
html:hover .spider1{
    top:-120px;
}

.spiderweb{
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
    transition:1s ease-in-out;
}

.spider{
    position: absolute;
    display: inline-block;
    top:0;
    left:30%;
    animation:swing 2s infinite;
    transform-origin:top;
}
/* corp de l'araignier */
.spider .body{
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}
/* yeux  blanc de l'araigniée */
.spider .body .eye{
    width: 33px;
    height: 33px;
    background: #fff;
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
}

.spider .eye.right{
    right: 15px;
}

.spider .eye.left{
    left: 15px;
}

/* yeux  noir de l'araigniée */
.spider .eye::after{
    background: rgb(25, 193, 28);
    width: 8px;
    height: 8px;
    content: "";
    display: block;
    margin: 55%;
    border-radius: 50%;
    animation: look 8s infinite;
}

.spider .legs{
    position: absolute;
    bottom:-10%;
    z-index: -1;
}

.spider .legs .leg{
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color:#000; /*  définit la couleur utilisée pour la bordure haute d'un élément. */
    border-radius: 40px 40px 0 0;
}

/* pattes de l'araigniée mise en forme */
.spider .legs.left{
    left:-70%;
}

.spider .legs.right{
    right:-60%;
}

.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}

.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}

/* animation araigniée */
@keyframes look {
    0%, 40%, 100%{
        transform: translateX(0);
    }
    45%, 95%{
        transform: translateX(-110%);
    }
}

@keyframes swing {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

/* ***************************************** deuxième araigniée ********************************** */

.spiderweb1{
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
    transition:1s ease-in-out;
}

.spider1{
    position: absolute;
    display: inline-block;
    top:0;
    right:30%;
    animation:swing 2s infinite;
    transform-origin:top;
}
/* corp de l'araignier */
.spider1 .body{
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}
/* yeux  blanc de l'araigniée */
.spider1 .body .eye{
    width: 33px;
    height: 33px;
    background: #fff;
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
}

.spider1 .eye.right{
    right: 15px;
}

.spider1 .eye.left{
    left: 15px;
}

/* yeux  noir de l'araigniée */
.spider1 .eye::after{
   /* background: rgb(22, 182, 207);*/
   background: red;
    width: 8px;
    height: 8px;
    content: "";
    display: block;
    margin: 55%;
    border-radius: 50%;
    animation: look 8s infinite;
}

.spider1 .legs{
    position: absolute;
    bottom:-10%;
    z-index: -1;
}

.spider1 .legs .leg{
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color:#000; /*  définit la couleur utilisée pour la bordure haute d'un élément. */
    border-radius: 40px 40px 0 0;
}

/* pattes de l'araigniée mise en forme */
.spider1 .legs.left{
    left:-70%;
}

.spider1 .legs.right{
    right:-60%;
}
